
/*GENERALES*/

.div-btn-regresar{
  margin-top: 5px;
}

.small-center{
  display: block;
  text-align: center;
}

.p-10{
  padding: 10px;
}

.center{
  margin-left: auto;
  margin-right: auto;
  display: block;
}

.a-btn-regresar{
  font-size: 1em;
  color: #000000;
  background: #1B6CD3;
  color: #ffffff;
  padding: 6px;
}

.a-btn-regresar:hover, .a-btn-regresar:focus{
  color: #ffffff;
}

.txt_sel_cli{
  display:block;
  text-align: center;
}

/* INDEX */
.cabeceraMain{
  height: 50px;
  background:#d9d9d9;
  padding: 10px;
  border-bottom: 1px solid #b3b3b3;
}


.titulo_cab p{
  font-size: 1.5em;
  margin: auto;
}

.configItem{
  text-align: right;
  /*padding: 10px;*/
}

.configItem img{
  height:30px;
}

.divMnuPrincipal{
  width: 100%;
}

.mnuPrincipal{
  margin-left: -15px;
}

.mnuPrincipal li {
  list-style: none;
  padding: 10px;
  border-bottom: 1px solid #b3b3b3;
}

.mnuPrincipal li a{
  text-decoration: none;
  color: #000000;
  font-size: 1.8em;
}

.mnuPrincipal img{
  width: 35px;
  height: auto;
  max-height: 35px;
}

/*SYNC*/

.p-10{
  padding: 10px;
}

.div-img-sync{
  text-align: center;
}

.div-img-sync img{
  margin: auto;
  width: 200px;
  height: auto;
}

.div-btn-sync{
  text-align: center;
  padding: 30px;
  
}

.div-btn-sync button{
  font-size: 20px;
}

#modalSync .modal-dialog {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
}

#modalSync .modal-content {
  height: auto;
  min-height: 100%;
  border-radius: 0;
}

#modalSync img{
  width: 31px;
}

/*SEND ORDERS*/
#modalSendOrders .modal-dialog {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
}

#modalSendOrders .modal-content {
  height: auto;
  min-height: 100%;
  border-radius: 0;
}

/*LIST ORDERS*/

.f-item{
  border-bottom: 1px solid #b3b3b3;
  /*height: 50px;*/
  margin-top: 10px;
  padding: 5px;
}

.item{
  color : #000000;
}

.item img{
  width: 30px;
  height: auto;
}

.f-item .order-fh{
  display: block;
  margin-top: -10px;
}

.col-total-order{
  text-align: right;
}

/*LIST PRODUCTS*/

.f-product{
  border-bottom: 1px solid #b3b3b3;
  height: 60px;
  margin-top: 10px;
  padding: 5px;
}

.product{
  margin: 0;
  padding: 0;
  color: #000000;
}

.f-product img{
  width: 30px;
  height: auto;
}

.col-name-product{
  margin-left: -15px;
  min-height: 34px !important;
}

.nameProduct{
  font-size: 0.9em;
  /*font-weight: bold;*/
}

.nameCustomer{
  font-size: 0.9em;
  /*font-weight: bold;*/
}

.col-price-product{
  text-align: right;
  line-height: 1px;
}

.col-id-product{
  line-height: 1px;
}

.formBusqueda{
  width: 100%;
  padding: 10px;
}

.formBusqueda input{
  width: 100%;
  border: none;
  border-bottom: 1px solid #d9d9d9;
}

.products-title{
  font-size: 22px;
  text-align: center;
  padding: 10px;
}

.fProduct{
  margin-bottom: -10px;
}

.fProduct input, .fProduct textarea{
  border: 0;
  border-bottom: 1px solid #b3b3b3;
  background: #ffffff !important;
  /*margin: 0 !important;*/
}

/*LIST ORDERS*/

.bot-orders{
  text-align:right; 
  margin-top:10px;
}

.ftbot-orders{
  border-bottom: 1px solid #b3b3b3;
}

.bot-orders button{
  height: 30px;
  margin-bottom:10px;
}

.bot-orders p{
  font-size: 18px;
}

.col-name-order{
  padding:0;
}

/*New Order*/

.btns-newOrder{
  margin-top: 5px;
}

.btns-newOrder button{
  height: 45px;
  width: 45px;
}

#list_order_products{
  margin: 0 !important;
  padding:5px;
}

.detail-order-products{
  border-bottom: 1px solid #b3b3b3;
}

.cab-order-products{
  border-bottom: 1px solid #b3b3b3;
  background: #000000;
  color: #ffffff;
}

#load_div_order img{
  margin-left: 25px;
  margin-top: 25px;
  width: 15px;
}

.div-tot-order{
  background:#000000; 
  color: #ffffff;
}

#del_product_order{
  color: #000000;
}

/*CTA CTE*/

.box-ctacte{
  border-bottom: 1px solid #b3b3b3; 
  padding:5px 0 5px 0;
}

.box-ctacte img{
  width:30px; 
  height:30px; 
  margin-top:5px;
}

.box-customer{
  border-bottom: 1px solid #b3b3b3;
  padding: 5px;
}

.box-customer .col-xs-2{
  padding: 5px;
}

.box-customer .cod{
  line-height: 1px;
  margin-top: 10px;
}

.box-customer img{
  margin:auto;
  width: 100%; 
  height: auto;
  max-width: 50px;
}

.rowSaldo{
  background: #000000;
  color: #ffffff;
}
 
/*Stock*/

.box-stock{
  border-bottom: 1px solid #b3b3b3; 
  padding:5px 0 5px 0;
}

.box-stock img{
  width:30px; 
  height:30px; 
  margin-top:5px;
}

.cod{
  font-weight: bold;
}

/*MOD BACK*/

.bot-new-order a{
    display: inline-block;
}

.bot-new-order img{
    width: 30px;
    height: auto;
    margin-left: 10px;
}

/*MODAL ADD PRODUCT*/

#modalProductsPreSaleProduct_body small{
  display: block;
}

#modalProductsPreSaleProduct_body input{
  width: 100%;
}

#res_update{
  margin-top: 10px;
}

#form_login{
  width: 100%;
}

#form_login input[type="number"], #form_login input[type="password"]{
  border: 0px;
  padding: 10px;
  border-bottom: 1px solid #b3b3b3;
}

#form_login input[type="submit"]{
  margin: 10px;
  width: 100px;
  height: 50px;
}
.div-img-login{
  padding: 10px;
}

.login-p{
  /*position: absolute;
  top: 0;
  bottom: 0;*/
  
  width: 100%;
  display: flex;
  align-items: center;
  margin-top: 10%;
}

.login-h{
  margin: 0 auto;
}
/*
.titulo_cab{
  font-size: 14px;
}*/

.titulo_cab small{
  font-size: 10px;
}

.div_price_class{
  border-top:1px solid #b3b3b3; 
  border-bottom:1px solid #b3b3b3; 
  padding: 5px 0 5px 0;
}

.disabledDiv {
  pointer-events: none;
  opacity: 0.7;
}

select{
  border:0 !important;
  border-bottom: 1px solid #ccc !important;
  box-shadow: inset 0 0 0 rgba(0,0,0,.0) !important;
}

#txt_newOrder_prod{
  padding:5px;
}

.item-historial{
  border-bottom: 1px solid #e1e1e1;
  padding: 4px 5px;
}

.item-historial .title_customer{
  font-size: 0.85em;
  margin: 0;
}

.item-historial div{
  padding-left: 0 !important;
}

.btn_download_listp{
  display:block !important; 
  margin-bottom: 10px !important;
}

#modal_syncOffline .modal-dialog {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;

}

#modal_syncOffline .modal-content {
  height: auto;
  min-height: 100%;
  border-radius: 0;
  background: #f9f9f9e6 !important;
}

#modal_syncOffline_body{
  top: 40%;
  position: absolute;
  width: 100%;
}

.item-ruta {
  border-bottom: 1px solid #e1e1e1;
  padding: 1.5rem 0;
  height: 8rem;
  overflow: hidden;
  -webkit-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
  /* opacity: 0; */
}

.item-ruta .img-show-more {
  position: absolute;
  right: 2rem;
  top: 3.5rem;
}

.item-display {
  /* opacity: 1; */
  height: auto !important;
  -webkit-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
  /* border: 2px solid #cecece; */
  border-top: 2px solid #cecece;
  border-bottom: 2px solid #cecece;

}

.item-display .img-show-more {
  display: none;
}

.btn-new-order-ruta {
  /* padding: .5rem;
  font-size: 1.7rem; */
  padding: .5rem;
  font-size: 1.5rem;
  border: 1px solid #cacaca;
  display: block;
  text-align: center;
  margin: .5rem;
}

.btn-new-order-ruta img {
  max-width: 1.4rem;
  margin-left: -5px;
}

.badge-visitado {
  background: #0d5c0d !important;
}