<IfModule mod_rewrite.c>
RewriteEngine On
RewriteBase /

# Removes index.php from ExpressionEngine URLs
RewriteCond %{THE_REQUEST} ^GET.*index\.php [NC]
RewriteCond %{REQUEST_URI} !/system/.* [NC]
RewriteRule (.*?)index\.php/*(.*) distrinic/$1$2 [R=301,NE,L]

# Directs all EE web requests through the site index file
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule ^(.*)$ distrinic/index.php/$1 [L]
</IfModule>

# CORS
Header set Access-Control-Allow-Origin: *
# Permitimos requests ajax
Header set Access-Control-Allow-Headers: X-Requested-With

<IfModule mod_headers.c>
    Header set Access-Control-Allow-Origin "*"
</IfModule>